$colors: (
  light-purple: rgb(216, 160, 216),
  light-orange: rgba(253, 182, 100, 0.788),
  light-grey: rgb(81, 83, 88),
  light-blue: #787e91,
  light-yellow: rgb(252, 239, 166),
  yellow: #ac8d39,
  dark-blue: #10101b,
  dark: #0f0f17,
  light: #4c556d,
  grey: rgb(35, 34, 44),
  deep-purple: #42385f,
  deep-yellow: rgb(255, 203, 89),
  purple: rgb(100, 49, 158),
);

$neon-colors: (
  neon-yellow: #9c7905,
  neon-orange: #e68200,
);
